<!-- this div is used to create the borders in the grid -->
<div class="borders"></div>

<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24" id="graph-container">
  <div class="header">
    <h5 class="text-white font-weight-normal">20/05/2022 - 14:23:30</h5>
    <h1 class="text-white font-weight-normal">Cuscinetti</h1>
    <br>
    <br>
  </div>

  <div class="grid">
    <div class="row-1">
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTempValue" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStimaValue" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStimaForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTemp2Value" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStima2Value" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStima2ForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTemp3Value" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStima3Value" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStima3ForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>
    </div>
  
    <div class="row-2">
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTemp4Value" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStima4Value" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStima4ForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTemp5Value" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStima5Value" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStima5ForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTemp6Value" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStima6Value" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStima6ForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>
    </div>
  </div>
</div>

<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
      <div fxLayout="row wrap"  style="margin-top: -2vh; margin-left: 10vh;">
        <div
          *ngFor="let item of statCardList"
          fxFlex="100"
          fxFlex.sm="30"
          fxFlex.gt-sm="30"
        >
          <mat-card
            class="p-24"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-48 mat-color-{{item.color}}">{{
                item.icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ item.title }}</p>
                <h5 class="m-0 mat-color-{{item.color}} text-25">{{ item.amount }}</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>