<!-- this div is used to create the borders in the grid -->
<div class="borders"></div>

<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24" id="graph-container">
  <div class="header">
    <h5 class="text-white font-weight-normal">20/05/2022 - 14:23:30</h5>
    <h1 class="text-white font-weight-normal">Cuscinetti</h1>
    <br>
    <br>
  </div>

  <div class="grid">
    <div class="row-1">
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTempValue" 
               [min]="gaugeTempMin"
               [max]="gaugeTempMax"
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStimaValue" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStimaForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTemp2Type" 
               [value]="gaugeTemp2Value" 
               [min]="gaugeTemp2Min"
               [max]="gaugeTemp2Max"
               [label]="gaugeTemp2Label"  
               [append]="gaugeTemp2AppendText"
               [thick]="gaugeTemp2Thickness"
               [foregroundColor]="gaugeTemp2ForegroundColor"
               [backgroundColor]="gaugeTemp2BackgroundColor"
               [size]="gaugeTemp2Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStima2Type" 
               [value]="gaugeStima2Value" 
               [min]="gaugeStima2Min"
               [max]="gaugeStima2Max"
               [label]="gaugeStima2Label"  
               [append]="gaugeStima2AppendText"
               [thick]="gaugeStima2Thickness"
               [foregroundColor]="gaugeStima2ForegroundColor"
               [backgroundColor]="gaugeStima2BackgroundColor"
               [size]="gaugeStima2Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTemp3Type" 
               [value]="gaugeTemp3Value" 
               [min]="gaugeTemp3Min"
               [max]="gaugeTemp3Max"
               [label]="gaugeTemp3Label"  
               [append]="gaugeTemp3AppendText"
               [thick]="gaugeTemp3Thickness"
               [foregroundColor]="gaugeTemp3ForegroundColor"
               [backgroundColor]="gaugeTemp3BackgroundColor"
               [size]="gaugeTemp3Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStima3Type" 
               [value]="gaugeStima3Value" 
               [min]="gaugeStima3Min"
               [max]="gaugeStima3Max"
               [label]="gaugeStima3Label"  
               [append]="gaugeStima3AppendText"
               [thick]="gaugeStima3Thickness"
               [foregroundColor]="gaugeStima3ForegroundColor"
               [backgroundColor]="gaugeStima3BackgroundColor"
               [size]="gaugeStima3Size" >
        </ngx-gauge>
      </div>
    </div>
  
    <div class="row-2">
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTemp4Type" 
               [value]="gaugeTemp4Value" 
               [min]="gaugeTemp4Min"
               [max]="gaugeTemp4Max"
               [label]="gaugeTemp4Label"  
               [append]="gaugeTemp4AppendText"
               [thick]="gaugeTemp4Thickness"
               [foregroundColor]="gaugeTemp4ForegroundColor"
               [backgroundColor]="gaugeTemp4BackgroundColor"
               [size]="gaugeTemp4Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStima4Type" 
               [value]="gaugeStima4Value" 
               [min]="gaugeStima4Min"
               [max]="gaugeStima4Max"
               [label]="gaugeStima4Label"  
               [append]="gaugeStima4AppendText"
               [thick]="gaugeStima4Thickness"
               [foregroundColor]="gaugeStima4ForegroundColor"
               [backgroundColor]="gaugeStima4BackgroundColor"
               [size]="gaugeStima4Size" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTemp5Type" 
               [value]="gaugeTemp5Value" 
               [min]="gaugeTemp5Min"
               [max]="gaugeTemp5Max"
               [label]="gaugeTemp5Label"  
               [append]="gaugeTemp5AppendText"
               [thick]="gaugeTemp5Thickness"
               [foregroundColor]="gaugeTemp5ForegroundColor"
               [backgroundColor]="gaugeTemp5BackgroundColor"
               [size]="gaugeTemp5Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStima5Type" 
               [value]="gaugeStima5Value" 
               [min]="gaugeStima5Min"
               [max]="gaugeStima5Max"
               [label]="gaugeStima5Label"  
               [append]="gaugeStima5AppendText"
               [thick]="gaugeStima5Thickness"
               [foregroundColor]="gaugeStima5ForegroundColor"
               [backgroundColor]="gaugeStima5BackgroundColor"
               [size]="gaugeStima5Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 15%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura asse</h3>
        </span>
        <ngx-gauge [type]="gaugeTemp6Type" 
               [value]="gaugeTemp6Value" 
               [min]="gaugeTemp6Min"
               [max]="gaugeTemp6Max"
               [label]="gaugeTemp6Label"  
               [append]="gaugeTemp6AppendText"
               [thick]="gaugeTemp6Thickness"
               [foregroundColor]="gaugeTemp6ForegroundColor"
               [backgroundColor]="gaugeTemp6BackgroundColor"
               [size]="gaugeTemp6Size" >
        </ngx-gauge>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">build</mat-icon>
          <h3 class="text-white font-weight-bold">Stima durata</h3>
        </span>
        <ngx-gauge [type]="gaugeStima6Type" 
               [value]="gaugeStima6Value" 
               [min]="gaugeStima6Min"
               [max]="gaugeStima6Max"
               [label]="gaugeStima6Label"  
               [append]="gaugeStima6AppendText"
               [thick]="gaugeStima6Thickness"
               [foregroundColor]="gaugeStima6ForegroundColor"
               [backgroundColor]="gaugeStima6BackgroundColor"
               [size]="gaugeStima6Size" >
        </ngx-gauge>
      </div>
    </div>
  </div>
</div>

<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
      <div fxLayout="row wrap"  style="margin-top: -2vh; margin-left: 10vh;">
        <div
          *ngFor="let item of statCardList"
          fxFlex="100"
          fxFlex.sm="30"
          fxFlex.gt-sm="30"
        >
          <mat-card
            class="p-24"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-48 mat-color-{{item.color}}">{{
                item.icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ item.title }}</p>
                <h5 class="m-0 mat-color-{{item.color}} text-25">{{ item.amount }}</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>