.navigation-hold
{
    background-image: url('../../../../assets/images/sidebar/sidebar-bg-light.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#branding
{
    background-image: url('../../../../assets/images/sidebar/sidebar-bg-light.png') !important;
    background-size:auto;
    background-repeat: no-repeat;
}
