<!-- this div is used to create the borders in the grid -->
<div class="borders"></div>

<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24" id="graph-container">
  <div class="header">
    <h5 class="text-white font-weight-normal">20/05/2022 - 14:23:30</h5>
    <h1 class="text-white font-weight-normal">Porte</h1>
    <br>
    <br>
  </div>

  <div class="grid">
    <div class="row-1">
    
      <div style="display:flex">    
        <!-- <h3 class="text-white font-weight-bold">Velocit&agrave; nel tempo</h3> -->
      </div>
      <div class="graph-1">
        <div
          height="180"
          echarts
          class="chart m-0"
          [options]="primaPortaChartBar"
          [merge]="updatePortaChartBar"
        ></div>
      </div>
    
      <div class="ngx-gauge-ap-1">
        <span style="display: flex; margin-left: 20%;">
          <!-- <mat-icon style="position: absolute; left:85%; top: 15%;">people</mat-icon> -->
          <h3 class="text-white font-weight-bold">Ultima Apertura</h3>
        </span>
        <ngx-gauge [type]="gaugeApertura1Type" 
               [value]="gaugeApertura1Value" 
               [max]="gaugeApertura1Max"
               [label]="gaugeApertura1Label"  
               [append]="gaugeApertura1AppendText"
               [thick]="gaugeApertura1Thickness"
               [foregroundColor]="gaugeApertura1ForegroundColor"
               [backgroundColor]="gaugeApertura1BackgroundColor"
               [size]="gaugeApertura1Size" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge-chius-1">
        <span style="display: flex; margin-left: 20%;">
          <!-- <mat-icon style="position: absolute; left:85%; top: 15%;">people</mat-icon> -->
          <h3 class="text-white font-weight-bold">Ultima Chiusura</h3>
        </span>
        <ngx-gauge [type]="gaugeChiusura1Type" 
               [value]="gaugeChiusura1Value" 
               [max]="gaugeChiusura1Max"
               [label]="gaugeChiusura1Label"  
               [append]="gaugeChiusura1AppendText"
               [thick]="gaugeChiusura1Thickness"
               [foregroundColor]="gaugeChiusura1ForegroundColor"
               [backgroundColor]="gaugeChiusura1BackgroundColor"
               [size]="gaugeChiusura1Size" >
        </ngx-gauge>
      </div>
    </div>
  
    <div class="row-2">
      <div class="ngx-gauge-ap-2">
        <span style="display: flex; margin-left: 20%;">
          <!-- <mat-icon style="position: absolute; left:85%; top: 15%;">graphic_eq</mat-icon> -->
          <h3 class="text-white font-weight-bold">Ultima Apertura</h3>
        </span>
        <ngx-gauge [type]="gaugeApertura2Type" 
               [value]="gaugeApertura2Value" 
               [min]="gaugeApertura2Min"
               [max]="gaugeApertura2Max"
               [label]="gaugeApertura2Label"  
               [append]="gaugeApertura2AppendText"
               [thick]="gaugeApertura2Thickness"
               [foregroundColor]="gaugeApertura2ForegroundColor"
               [backgroundColor]="gaugeApertura2BackgroundColor"
               [size]="gaugeApertura2Size" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge-chius-2">
        <span style="display: flex; margin-left: 20%;">
          <!-- <mat-icon style="position: absolute; left:85%; top: 15%;">graphic_eq</mat-icon> -->
          <h3 class="text-white font-weight-bold">Ultima Chiusura</h3>
        </span>
        <ngx-gauge [type]="gaugeChiusura2Type" 
               [value]="gaugeChiusura2Value" 
               [min]="gaugeChiusura2Min"
               [max]="gaugeChiusura2Max"
               [label]="gaugeChiusura2Label"  
               [append]="gaugeChiusura2AppendText"
               [thick]="gaugeChiusura2Thickness"
               [foregroundColor]="gaugeChiusura2ForegroundColor"
               [backgroundColor]="gaugeChiusura2BackgroundColor"
               [size]="gaugeChiusura2Size" >
        </ngx-gauge>
      </div>
    
      <div style="display:flex">    
        <!-- <h3 class="text-white font-weight-bold">Velocit&agrave; nel tempo</h3> -->
      </div>
      <div class="graph-2">
        <div
          height="180"
          echarts
          class="chart m-0"
          [options]="secondaPortaChartBar"
          [merge]="updatePortaChartBar2"
        ></div>
      </div>
    </div>

    <div class="row-3">
      <div class="ngx-gauge-ap-3">
        <span style="display: flex; margin-left: 20%;">
          <!-- <mat-icon style="position: absolute; left:85%; top: 15%;">graphic_eq</mat-icon> -->
          <h3 class="text-white font-weight-bold">Ultima Apertura</h3>
        </span>
        <ngx-gauge [type]="gaugeApertura3Type" 
               [value]="gaugeApertura3Value" 
               [min]="gaugeApertura3Min"
               [max]="gaugeApertura3Max"
               [label]="gaugeApertura3Label"  
               [append]="gaugeApertura3AppendText"
               [thick]="gaugeApertura3Thickness"
               [foregroundColor]="gaugeApertura3ForegroundColor"
               [backgroundColor]="gaugeApertura3BackgroundColor"
               [size]="gaugeApertura3Size" >
        </ngx-gauge>
      </div>

      <div class="ngx-gauge-chius-3">
        <span style="display: flex; margin-left: 20%;">
          <!-- <mat-icon style="position: absolute; left:85%; top: 15%;">graphic_eq</mat-icon> -->
          <h3 class="text-white font-weight-bold">Ultima Chiusura</h3>
        </span>
        <ngx-gauge [type]="gaugeChiusura3Type" 
               [value]="gaugeChiusura3Value" 
               [min]="gaugeChiusura3Min"
               [max]="gaugeChiusura3Max"
               [label]="gaugeChiusura3Label"  
               [append]="gaugeChiusura3AppendText"
               [thick]="gaugeChiusura3Thickness"
               [foregroundColor]="gaugeChiusura3ForegroundColor"
               [backgroundColor]="gaugeChiusura3BackgroundColor"
               [size]="gaugeChiusura3Size" >
        </ngx-gauge>
      </div>
    
      <div style="display:flex">    
        <!-- <h3 class="text-white font-weight-bold">Velocit&agrave; nel tempo</h3> -->
      </div>
      <div class="graph-3">
        <div
          height="180"
          echarts
          class="chart m-0"
          [options]="terzaPortaChartBar"
          [merge]="updatePortaChartBar3"
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
      <div fxLayout="row wrap"  style="margin-top: -2vh; margin-left: 10vh;">
        <div
          *ngFor="let item of statCardList"
          fxFlex="100"
          fxFlex.sm="30"
          fxFlex.gt-sm="30"
        >
          <mat-card
            class="p-10"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-48 mat-color-{{item.color}}">{{
                item.icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ item.title }}</p>
                <h5 class="m-0 mat-color-{{item.color}} text-25">{{ item.amount }}</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>