<!-- this div is used to create the borders in the grid -->
<div class="borders"></div>

<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24" id="graph-container">
  <div class="header">
    <h5 class="text-white font-weight-normal">20/05/2022 - 14:23:30</h5>
    <h1 class="text-white font-weight-normal">HVAC - Heating, Ventilation and Air Conditioning</h1>
    <br>
    <br>
  </div>

  <div class="grid">
    <div class="row-1">
      <div class="ngx-gauge-temp">
        <span style="display: flex; margin-left: 10%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">thermostat</mat-icon>
          <h3 class="text-white font-weight-bold">Temperatura interna</h3>
        </span>
        <ngx-gauge [type]="gaugeTempType" 
               [value]="gaugeTempValue" 
               [label]="gaugeTempLabel"  
               [append]="gaugeTempAppendText"
               [thick]="gaugeTempThickness"
               [foregroundColor]="gaugeTempForegroundColor"
               [backgroundColor]="gaugeTempBackgroundColor"
               [size]="gaugeTempSize" >
        </ngx-gauge>
      </div>
    
      <div style="display:flex">    
        <!-- <h3 class="text-white font-weight-bold">Velocit&agrave; nel tempo</h3> -->
      </div>
      <div class="graph">
        <div
          height="180"
          echarts
          class="chart m-0"
          [options]="dioxideChartBar"
        ></div>
      </div>
    
      <div class="ngx-gauge-ppm">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">cloud</mat-icon>
          <h3 class="text-white font-weight-bold"></h3>
        </span>
        <ngx-gauge [type]="gaugePpmType" 
               [value]="gaugePpmValue" 
               [max]="gaugePpmMax"
               [label]="gaugePpmLabel"  
               [append]="gaugePpmAppendText"
               [thick]="gaugePpmThickness"
               [foregroundColor]="gaugePpmForegroundColor"
               [backgroundColor]="gaugePpmBackgroundColor"
               [size]="gaugePpmSize" >
        </ngx-gauge>
      </div>
    </div>
  
    <div class="row-2">
      <div class="ngx-gauge-umidita">
        <span style="display: flex; margin-left: 25%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">ac_unit</mat-icon>
          <h3 class="text-white font-weight-bold"></h3>
        </span>
        <ngx-gauge [type]="gaugePmvType" 
               [value]="gaugePmvValue" 
               [max]="gaugePmvMax"
               [label]="gaugePmvLabel"  
               [append]="gaugePmvAppendText"
               [thick]="gaugePmvThickness"
               [foregroundColor]="gaugePmvForegroundColor"
               [backgroundColor]="gaugePmvBackgroundColor"
               [size]="gaugePmvSize" >
        </ngx-gauge>
      </div>
    
      <div style="display:flex">    
        <!-- <h3 class="text-white font-weight-bold">Velocit&agrave; nel tempo</h3> -->
      </div>
      <div class="graph">
        <div
          height="180"
          echarts
          class="chart m-0"
          [options]="pmvChartBar"
        ></div>
      </div>
    
      <div class="ngx-gauge-pmv">
        <span style="display: flex; margin-left: 20%;">
          <mat-icon style="position: absolute; left:85%; top: 15%;">opacity</mat-icon>
          <h3 class="text-white font-weight-bold">Umidit&agrave; interna</h3>
        </span>
        <ngx-gauge [type]="gaugeUmiditaType" 
               [value]="gaugeUmiditaValue" 
               [label]="gaugeUmiditaLabel"  
               [append]="gaugeUmiditaAppendText"
               [thick]="gaugeUmiditaThickness"
               [foregroundColor]="gaugeUmiditaForegroundColor"
               [backgroundColor]="gaugeUmiditaBackgroundColor"
               [size]="gaugeUmiditaSize" >
        </ngx-gauge>
      </div>
    </div>
  </div>
</div>

<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
      <div fxLayout="row wrap"  style="margin-top: -2vh; margin-left: 10vh;">
        <div
          *ngFor="let item of statCardList"
          fxFlex="100"
          fxFlex.sm="30"
          fxFlex.gt-sm="30"
        >
          <mat-card
            class="p-24"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-48 mat-color-{{item.color}}">{{
                item.icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ item.title }}</p>
                <h5 class="m-0 mat-color-{{item.color}} text-25">{{ item.amount }}</h5>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>