#graph-container
{
    width: 70%;
    height: 110%;
    background-color: #032d62 !important;
    // to give the entire page the intented color
    box-shadow: 0 0 0 10in #032d62;  
}

.ngx-gauge
{
    position: absolute;
    top: 23%;
    left: 75%;
}