<!-- this div is used to create the borders in the grid -->
<div class="borders"></div>

<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24 pb-95" id="graph-container">

  <!-- <h5 class="text-white font-weight-normal">20/05/2022 - 14:23:30</h5> -->
  <h1 class="text-white font-weight-normal">Informazioni generali</h1>
  <br>
  <br>

  <div class="extragrid">

    <div class="row1">
      <div class="ngx-gauge-ppm">
        <span style="display: flex; margin-left: 30%;">
          <h1 class="text-white font-weight-bold">Passeggeri</h1>
          <mat-icon style="position: inherit; margin-left:17%; padding-top: 15%;" class="mat-icon">people</mat-icon> 
        </span>
          <ngx-gauge [type]="gaugePasseggeriType" 
                 [value]="gaugePasseggeriValue" 
                 [min]="gaugePasseggeriMin"
                 [max]="gaugePasseggeriMax"
                 [label]="gaugePasseggeriLabel"  
                 [append]="gaugePasseggeriAppendText"
                 [thick]="gaugePasseggeriThickness"
                 [foregroundColor]="gaugePasseggeriForegroundColor"
                 [backgroundColor]="gaugePasseggeriBackgroundColor"
                 [size]="gaugePasseggeriSize"
                 [duration]="gaugeDuration" 
                 style="margin-top: -12%;">
          </ngx-gauge>
        </div>
    
        <div class="ngx-gauge-temp">
          <span style="display: flex; margin-left: 16%;">
            <h2 class="text-white font-weight-bold" style="white-space: nowrap;">Temperatura interna</h2>
            <mat-icon style="position: inherit; margin-left:10%; padding-top: 15%;" class="mat-icon">thermostat</mat-icon> 
          </span>
          <ngx-gauge [type]="gaugeTempType" 
                 [value]="gaugeTempValue" 
                 [min]="gaugeTempMin"
                 [max]="gaugeTempMax"
                 [label]="gaugeTempLabel"  
                 [append]="gaugeTempAppendText"
                 [thick]="gaugeTempThickness"
                 [foregroundColor]="gaugeTempForegroundColor"
                 [backgroundColor]="gaugeTempBackgroundColor"
                 [size]="gaugeTempSize"
                 [duration]="gaugeDuration"
                 style="margin-top: -15%;">
          </ngx-gauge>
        </div>
    
        <div class="ngx-gauge-pmv">
          <span style="display: flex; margin-left: 25%;">
            <h2 class="text-white font-weight-bold">Umidit&agrave; interna</h2>
            <mat-icon style="position: inherit; margin-left:10%; padding-top: 15%;" class="mat-icon">opacity</mat-icon> 
          </span>
          <ngx-gauge [type]="gaugeUmiditaType" 
                 [value]="gaugeUmiditaValue" 
                 [min]="gaugeUmiditaMin"
                 [max]="gaugeUmiditaMax"
                 [label]="gaugeUmiditaLabel"  
                 [append]="gaugeUmiditaAppendText"
                 [thick]="gaugeUmiditaThickness"
                 [foregroundColor]="gaugeUmiditaForegroundColor"
                 [backgroundColor]="gaugeUmiditaBackgroundColor"
                 [size]="gaugeUmiditaSize"
                 [duration]="gaugeDuration"
                 style="margin-top: -12.5%;">
          </ngx-gauge>
        </div>
    </div>

    <div class="row-2">
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 42%;">
          <h3 class="text-white">Alert</h3>
        </span>
        <div class="circle" id="circle" style="display: flex; justify-content:center; align-items: center;">
          <mat-icon style="position: absolute; left: 36%; top: 10%;">report_problem</mat-icon>
        </div>
        <ngx-gauge [type]="gaugeStimaType" 
               [value]="gaugeStimaValue" 
               [min]="gaugeStimaMin"
               [max]="gaugeStimaMax"
               [label]="gaugeStimaLabel"  
               [append]="gaugeStimaAppendText"
               [thick]="gaugeStimaThickness"
               [foregroundColor]="gaugeStimaForegroundColor"
               [backgroundColor]="gaugeStimaBackgroundColor"
               [size]="gaugeStimaSize" >
        </ngx-gauge>
        <span style="display: flex; margin-left: 22%; margin-top: -10px;">
          <h3 class="text-white">Alert time 10:11</h3>
        </span>
      </div>
    
      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 42%;">
          <h3 class="text-white">Alert</h3>
        </span>
        <div class="circle" id="circle" style="display: flex; justify-content:center; align-items: center;">
          <mat-icon style="position: absolute; left: 36%; top: 10%;">report_problem</mat-icon>
        </div>
        <ngx-gauge [type]="gaugeStima2Type" 
               [value]="gaugeStima2Value" 
               [min]="gaugeStimaMin"
               [max]="gaugeStima2Max"
               [label]="gaugeStima2Label"  
               [append]="gaugeStima2AppendText"
               [thick]="gaugeStima2Thickness"
               [foregroundColor]="gaugeStima2ForegroundColor"
               [backgroundColor]="gaugeStima2BackgroundColor"
               [size]="gaugeStima2Size" >
        </ngx-gauge>
        <span style="display: flex; margin-left: 22%; margin-top: -10px;">
          <h3 class="text-white">Alert time 09:02</h3>
        </span>
      </div>

      <div class="ngx-gauge-2">
        <span style="display: flex; margin-left: 42%;">
          <h3 class="text-white">Alert</h3>
        </span>
        <div class="circle" id="circle" style="display: flex; justify-content:center; align-items: center;">
          <mat-icon style="position: absolute; left: 36%; top: 10%;">report_problem</mat-icon>
        </div>
        <ngx-gauge [type]="gaugeStima3Type" 
               [value]="gaugeStima3Value" 
               [min]="gaugeStima3Min"
               [max]="gaugeStima3Max"
               [label]="gaugeStima3Label"  
               [append]="gaugeStima3AppendText"
               [thick]="gaugeStima3Thickness"
               [foregroundColor]="gaugeStima3ForegroundColor"
               [backgroundColor]="gaugeStima3BackgroundColor"
               [size]="gaugeStima3Size" >
        </ngx-gauge>
        <span style="display: flex; margin-left: 22%; margin-top: -10px;">
          <h3 class="text-white">Alert time 12:27</h3>
        </span>
      </div>
    </div>

  </div>

  <div class="ngx-gauge">
    <span style="display: flex; margin-left: 33%;">
      <h1 class="text-white font-weight-bold">Velocit&agrave; attuale</h1>
    </span>
    <mat-icon style="position: absolute; left:85%; top: 15%;" class="mat-icon">speed</mat-icon> 
    <ngx-gauge [type]="gaugeType" 
           [value]="message" 
           [max]="gaugeMax"
           [label]="gaugeLabel"  
           [append]="gaugeAppendText"
           [thick]="gaugeThickness"
           [foregroundColor]="gaugeForegroundColor"
           [backgroundColor]="gaugeBackgroundColor"
           [size]="gaugeSize" >
    </ngx-gauge>
  </div>

</div>


<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
          <mat-card class="p-40" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-56 mat-color-{{statCardList[0].color}}">{{
                statCardList[0].icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ statCardList[0].title }}</p>
                <h5 class="m-0 mat-color-{{statCardList[0].color}} text-40">{{ statCardList[0].amount }}</h5>
              </div>
            </div>
          </mat-card>

          <mat-card class="p-40" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-56 mat-color-{{statCardList[1].color}}">{{
                statCardList[1].icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ statCardList[1].title }}</p>
                <h5 class="m-0 mat-color-{{statCardList[1].color}} text-40">{{ statCardList[1].amount }}</h5>
              </div>
            </div>
          </mat-card>

          <mat-card class="p-40" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-56 mat-color-{{statCardList[2].color}}">{{
                statCardList[2].icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ statCardList[2].title }}</p>
                <h5 class="m-0 mat-color-{{statCardList[2].color}} text-40">{{ statCardList[2].amount | numberFormat}}</h5>
              </div>
            </div>
          </mat-card>
        </div>
        
      </div>
    </div>
  </div>
</div>