#graph-container
{
    width: 100%;
    height: 100%;
    // margin-top: 0vh !important;
    //background-color: #032d62 !important;
    background-color: #032e6200 !important;
    background-image: url('../../../../assets/images/backgrounds/info-generali.png') !important;
    background-size: cover !important;
    //background-repeat: no-repeat !important;
    /* to give the entire page the intented color */
    box-shadow: 0 0 0 10in #032d62; 
    // padding: 0% !important;
}

.extragrid
{
    display: grid;
    width: 60%;
    grid-template-rows:repeat(2, 1fr);
    gap: 5vh;
    margin-top: 4%;
    margin-left: 1%;
}

.row1
{
    display: grid;
    width: 60%;
    grid-template-columns:repeat(3, 1fr);
}

.row2
{
    display: grid;
    justify-content: center;
    height: fit-content;
}

.circles
{
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: #ff0000;
    margin-top: 65px;
    margin-left: 43px;
    box-shadow: 112px 0 0 0 #92d050, 162px 0 0 0 #92d050, 297px 0 0 0 #ffc001, 347px 0 0 0 #92d050, 482px 0 0 0 #ff0000 ;
}

.mat-icon
{
    height:48px !important;
    width:48px !important;
    font-size:48px !important;
}

.ngx-gauge
{
    position: absolute;
    top: 15%;
    left: 60%;
}

.mt--72
{
    margin-top: -11% !important;
    transform: translateX(3%);
    padding-top: 2vh;
    padding-bottom: 0% !important;
}